<section class="home-hero flex flex-row items-center h-screen">
  <div class="w-1/2">
    <h1>👊 Bienvenue sur <span class="highlight">BeefBuddy</span></h1>
    <p class="text-2xl font-bold mx-auto">
      Vous avez besoin de vous entrainer avec un sparring partner ? Peu importe le sport, nous avons
      un fighter pour vous !
    </p>
    <RouterLink to="/fighters-list">
      <button class="bg-orange-500 text-white px-4 py-2 rounded-md">Je veux un fighter</button>
    </RouterLink>
  </div>
  <div class="w-1/2">
    <!-- <img style="height: 120vh" :src="bagarreur" alt="BeefBuddy Logo" /> -->
  </div>
</section>
